#page {
  display: none;
}

.container {
  background: #c9f2ee;
}
body {
  background: #e3f2f0;
}
.jumbotron {
  background: #b0e8e2;
  border: 2px solid #86d8cf;
}
.btn {
  margin-bottom: 10px;
  background: #5b9690;
  color: white;
}
